.fundobtn{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button{
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: flex;  
    flex-direction: row;
    background-color: var(--corFundo);
    width:225px;
    height:50px;
    border-radius:15px;
    transition: transform 0.7s ease;
}
.button:hover{
    transform: translateY(-9px);
    background-color: var(--corFundoHover);
}