.fundobtn{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button{
  
   background-color: var(--corFundo);
    width:200px;
    height:50px;
    border-radius:15px;
    border:solid 1px  rgba(0, 0, 0, 0.246);
    transition: transform 0.7s ease;
}
.button:hover{
    transform: translateY(-9px);
    background-color: var(--corFundoHover);
}